<!-- Setamos a visibilidade conforme o estado de display, e e two way binding, o que mudar no html muda no modelo e vice e versa -->
<!-- A variavel de display mudou para true e mudou estado do modelo e elemento que agora estao na tela -->
<p-dialog
  [header]="header"
  [(visible)]="display"
  [modal]="true"
  [closable]="false"
>
  <div class="column gap-1">
    <div class="row gap-05">
      <span class="name-label">Name:</span>
      <input type="text" [(ngModel)]="product.name" />
    </div>
    <div class="row gap-1">
      <span class="price-label">Price:</span>
      <input type="text" [(ngModel)]="product.price" />
    </div>
    <div class="row gap-05">
      <span class="image-label">Image:</span>
      <input type="text" [(ngModel)]="product.image" />
    </div>
    <p-rating
      iconCancelClass="hidden"
      [(ngModel)]="product.rating"
    />
  </div>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="onConfirm()"
      label="Confirm"
    >Confirmar</button>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      (click)="onCancel()"
      label="Cancel"
    >Cancelar</button>
  </p-footer>
</p-dialog>
