<div class="column gap-1">
  <!-- Clicamos no toggle e ele abre a tela, mandando o true para a variavel de display dentro do edit popup -->
  <button
    type="button"
    pButton
    icon="pi pi-plus"
    (click)="toggleAddPopup()"
    label="Add Product"
  >Add</button>
  <div class="row wrap gap-1 space-between">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (edit)="toggleEditPopup(product)"
      (delete)="toogleDeletePopup(product)"
    ></app-product>
  </div>

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="0"
    [rows]="5"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
  />
</div>

<app-edit-popup
  [product]="selectedProduct"
  [display]="displayEditPopup"
  (confirm)="onConfirmEdit($event)"
  (click)="onCancelEdit()"
  header="Edit Product"
></app-edit-popup>

<!-- Clicamos no onConfirmAdd que gera o evento de mandar o formulario -->
<app-edit-popup
  [display]="displayAddPopup"
  (confirm)="onConfirmAdd($event)"
  header="Add Product"
></app-edit-popup>

<app-delete-popup
  [product]="selectedProduct"
  [display]="displayDeletePopup"
  (confirm)="onConfirmDelete($event)"
  (click)="onCancelDelete()"
  header="Add Product"
></app-delete-popup>